.cart {
    padding: 1rem;
    margin-top: 8rem;
.container {
    display: flex;
    flex-direction: column;

.product {
    display: flex;
    border-top: 1px dotted;
    border-left: 1px dotted;
    border-right: 1px dotted;
    padding: .3rem .5rem;
    align-items: center;
    width: 40%;
img {
    width: 40%;
    height: auto;
    margin: .875rem;
}
}
}
}